.fade {
      animation-name: fade;
      animation-duration: .5s;
}

@keyframes fade {
      from {
            opacity: .4;
      }

      to {
            opacity: 1
      }
}

.loader {
      width: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation-name: loader;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-delay: .4s;
      animation-timing-function: cubic-bezier(.8, .75, .2, 1.01);
      transition: all .5s ease-in-out;
}

@keyframes loader {
      from {
            width: 240px;
            left: 50%;
            top: 50%;
      }

      to {
            top: 35px;
            width: 65px;
            left: 32px;
      }
}

@media (min-width: 768px) {
      @keyframes loader {
            from {
                  width: 240px;
                  left: 50%;
                  top: 50%;
            }

            to {
                  top: 3.5%;
                  width: 65px;
                  left: 60px;

            }
      }
}

@media (min-width: 1024px) {
      @keyframes loader {
            from {
                  width: 240px;
                  left: 50%;
                  top: 50%;
                  opacity: .8;
            }

            to {
                  top: 3.5%;
                  width: 65px;
                  left: 110px;
                  opacity: .8;
            }
      }
}

.bounce {
      animation: bounce 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes bounce {
      40% {
            -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            -webkit-transform: translateY(20px) rotate(-1deg);
            transform: translateY(20px) rotate(-1deg);
      }
}

.card {
      width: 90%;
      height: 254px;
      background: #07182E;
      position: relative;
      display: flex;
      place-content: center;
      place-items: center;
      overflow: hidden;
      border-radius: 20px;
}



.card::before {
      content: '';
      position: absolute;
      width: 100px;
      background-image: linear-gradient(180deg, rgb(157, 169, 238), rgb(31, 74, 230));
      height: 300%;
      animation: rotBGimg 4.5s linear infinite;
      transition: all 0.2s linear;

}

@keyframes rotBGimg {
      from {
            transform: rotate(0deg);
      }

      to {
            transform: rotate(360deg);
      }
}

.card::after {
      content: '';
      position: absolute;
      background: #07182E;
      ;
      inset: 3px;
      border-radius: 15px;
}

.flipX {
      animation: flipInX 0.75s ease both;
}

@keyframes flipX {

      0% {
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            opacity: 0;
            -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
      }

      40% {
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            -webkit-transform: perspective(400px) rotateY(-20deg);
            transform: perspective(400px) rotateY(-20deg);
      }

      60% {
            opacity: 1;
            -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg);
      }

      80% {
            -webkit-transform: perspective(400px) rotateY(-5deg);
            transform: perspective(400px) rotateY(5deg);
      }

      100% {
            opacity: 1;
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
      }
}

@keyframes bounce-once {

      0%,
      100% {
            transform: translateY(0);
      }

      50% {
            transform: translateY(-25%);
      }
}