.project-btn {
      position: relative;
      font-size: 17px;
      text-decoration: none;
      height: 45px;
      width: 120px;
      display: flex !important;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      border-radius: 5em;
      transition: all .2s ease-in;
      border: none;
      font-family: inherit;
      font-weight: 500;
      color: #f1faee;
      background-color: #0772b5;

      @media (min-width: 768px) {
            width: 150px;
      }
}

.project-btn:hover {
      letter-spacing: 2.5px;
}

.project-btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 2em;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
}

.project-btn::after {
      background-color: #82c1e7;
}



@-webkit-keyframes slide-bottom {
      0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
      }

      50% {
            -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 1;
      }

      100% {
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
      }
}

@keyframes slide-bottom {
      0% {
            opacity: 0;
            -webkit-transform: translateY(0);
            transform: translateY(0);
      }

      50% {
            opacity: 1;
            -webkit-transform: translateY(100px);
            transform: translateY(100px);
      }

      100% {
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
      }
}

.btn-grad {
      background-image: linear-gradient(to right, #314755 0%, #26a0da 41%, #314755 100%);
      padding: 8px 24px;
      text-align: center;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
      border-radius: 1em;
      display: block;
}

@media screen and (min-width: 640px) {
      .btn-grad {
            padding: 14px 24px;
            max-width: 184px;
      }
}

@media screen and (min-width: 770px) {
      .btn-grad {
            padding: 18px 24px;
            font-size: 18px;
            max-width: 262px;
      }
}

.btn-grad:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
}
