.project-btn {
      position: relative;
      font-size: 17px;
      text-decoration: none;
      height: 40px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      border-radius: 6em;
      transition: all .2s;
      border: none;
      font-family: inherit;
      font-weight: 500;
      color: #f1faee;
      background-color: #457b9d;
}

.project-btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.project-btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
}

.project-btn::after {
      background-color: #a8dadc;
}

.project-btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
}

@-webkit-keyframes slide-bottom {
      0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
      }

      50% {
            -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 1;
      }

      100% {
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
      }
}

@keyframes slide-bottom {
      0% {
            opacity: 0;
            -webkit-transform: translateY(0);
            transform: translateY(0);
      }

      50% {
            opacity: 1;
            -webkit-transform: translateY(100px);
            transform: translateY(100px);
      }

      100% {
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
      }
}


