@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Inter&family=Outfit&family=Raleway:wght@600&family=Roboto+Slab&display=swap');
@import "aos/dist/aos.css";
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

}

@layer components {
      /* Header */
      .navigate-link {
            @apply text-3xl leading-8 text-blue-300 transition-colors duration-500 hover:text-white;
      }

      .main-title {
            @apply text-[25px] md:text-[34px] lg:text-[48px] tracking-wide mb-2 py-4 max-w-full font-extrabold text-gradient;
      }

      .social-icon {
            @apply transition duration-300 text-white rounded-full p-2 hover: bg-[#212d45] hover:scale-125;
      }

      .slide-bottom {
            @apply bg-[#404040] sticky p-4 rounded-2xl shadow-xl top-4 z-50 flex w-max justify-center flex-col items-center gap-y-4 mx-auto transition-all duration-300 ease-in-out;
            -webkit-animation: slide-bottom 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550) 1s both;
            animation: slide-bottom 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550) 1s both;
      }
      .slide-bottom-child{
            @apply bg-[#302c2dcc] p-4  transition duration-300 text-white rounded-xl shadow-gray-700 shadow-md  hover:bg-[#3b3939]  ;
       }

       .slide-left{
            @apply flex flex-col w-max gap-6 text-center;
       }

      /* Footer */

      .footer-title {
            @apply font-inter font-bold text-[#ffffff66] text-base tracking-wide leading-8 uppercase mb-4;
      }

      .footer-link {
            @apply text-xl md:text-2xl leading-8 text-[#ffffffbf] mb-4 relative left-0 hover:left-2 hover:text-white;
            transition: .3s ease;
      }

      .social-link {
            @apply transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-500;
      }

      /* Projects */
      .grid-container {
            @apply flex flex-col mx-auto p-2 pb-24 md:grid md:pt-12 md:px-12 md:pb-24 md:place-items-center gap-y-24 gap-x-20 ;
                  grid-template-columns: repeat(auto-fit, minmax(470px,1fr ));

      }

      .list-container {
            @apply flex flex-col text-center;
      }

      .icon-container {
            @apply flex gap-x-4 pb-2 justify-center -mt-6;
      }

      .list-item {
            @apply max-w-[320px] mb-3 md:mb-0 flex flex-col md:max-w-[203px] absolute z-10;
      }

      .list-title {
            @apply font-bold text-3xl md:text-4xl lg:text-5xl tracking-wide text-white my-2 pb-2
      }

      .list-paragraph {
            @apply flex flex-col text-2xl md:text-3xl text-[#ffffffbf] tracking-wide leading-10 gap-2 min-h-[90px] ;
      }
      .project-link {
            @apply py-4 px-6 rounded-xl font-bold transition-colors duration-300 hover:bg-[#5a5a5a2e];
      }

}

@layer utilities {
      .section-title {
            @apply text-6xl font-extrabold w-max max-w-full;
            background: linear-gradient(121.57deg,
                        #ffffff 18.77%,
                        rgba(255, 255, 255, 0.66) 60.15%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 16px;
      }

      .text-gradient {
            background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            width: max-content;
            max-width: 100%;
      }

      .logo {
            background: linear-gradient(121.57deg, #a8dadc 31.77%, #457b9d 90.15%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
      }
      .custom-shadow {
            filter: drop-shadow(3px 2px 9px black);
      }
      .custom-paragraph {
            @apply text-3xl leading-10 font-bold [word-spacing:10px] max-w-2xl custom-shadow md:max-w-5xl lg:max-w-7xl;
      }
}