.loader {
    color: #A5D7E8;
    fill: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 90vh;

}

.svg {
    height: 10rem;
    width: 10rem;
}

.hero-container>* {
    display: none;
}

@media screen and (max-width: 762px) {
    .hero-container .hero-img-mobile {
        display: block;
    }
}

@media screen and (min-width: 762px) {
    .hero-container .hero-img-mobile {
        display: none;
    }

    .hero-container .hero-img-tablet {
        display: block;
    }
}

@media screen and (min-width: 1310px) {
    .hero-container .hero-img-tablet {
        display: none;
    }

    .hero-container .hero-img-desktop {
        display: block;
    }
}

@media screen and (min-width: 1810px) {
    .hero-container .hero-img-desktop {
        display: none;
    }

    .hero-container .hero-img-large {
        display: block;
    }
}