.loader {
    color: #A5D7E8;
    fill: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 90vh;

}

.svg {
    height: 10rem;
    width: 10rem;
}

